.footer
  position fixed
  bottom 0
  box-shadow 0 -1px 4px rgba(0, 0, 0, 0.16)
  background-color #fff
  height 50px
  &__button
    background 0
    .icon
      width 20px
      height 20px
      fill #ff8827
.button
  &--add
    width 47px
    height 47px
    background-color #ff8827
    border-radius 50%
    margin-top -9px
    .icon
      width 20px
      height 18px
      fill #fff
  &--analytics
    .icon
      width 30px
      height 30px
  &--search
    .icon
      width 23px
      height 23px
