.header
  background-color #252d3d
  padding-top 45px
  padding-bottom 25px
  overflow hidden
.article-calendar
  border-radius 10px
  background-color #47b5be
  padding 20px
  margin-right 8px
  width 300px
  &.active
      background-color #ff8827
  &:last-child
    margin-right 0
  &__header
    h3
      color #ffffff
      font-size 24px
      font-weight 500
    p
      color rgba(255, 255, 255, 0.61)
      font-size 14px
      font-weight 500

.calendar
  width max-content
  transform translateX(-310px)
