.header--order
  padding-top 30px
  padding-bottom 30px
  &__back
    color #ffffff
    font-size 18px
    font-weight 500
    .icon
      width 17px
      height 17px
      fill #ffffff
      margin-right 10px


.header--form
  background-color #ff8827
.header--page
  background-color #252d3d
