


footer.footer.container.flex.j-c__s-b.pd-28
  button.footer__button.button--analytics 
    +icon('line-chart')
  button.footer__button.button--add.flex.j-c__c.a-i__c
    +icon('button-add')
  button.footer__button.button--list
    +icon('list')



.modal.modal--auto-list.flex.a-i__f-e
  .modal-wrap.flex.f-d__c
    button.button--close-modal
    ul.auto-list
      li.auto-list__item.flex.a-i__c.j-c__s-b
        .flex.a-i__c
          +icon('alfa-romeo','auto-icon')
          h6 Alfa Romeo
        +icon('left-arrow-chevron')
      li.auto-list__item.flex.a-i__c.j-c__s-b
        .flex.a-i__c
          +icon('audi','auto-icon')
          h6 Audi
        +icon('left-arrow-chevron')
      li.auto-list__item.flex.a-i__c.j-c__s-b
        .flex.a-i__c
          +icon('bmw','auto-icon')
          h6 BMW
        +icon('left-arrow-chevron')
      li.auto-list__item.flex.a-i__c.j-c__s-b
        .flex.a-i__c
          +icon('volkswagen','auto-icon')
          h6 Volkswagen
        +icon('left-arrow-chevron')
      li.auto-list__item.flex.a-i__c.j-c__s-b
        .flex.a-i__c
          +icon('ford','auto-icon')
          h6 Ford
        +icon('left-arrow-chevron')
      li.auto-list__item.flex.a-i__c.j-c__s-b
        .flex.a-i__c
          +icon('toyota','auto-icon')
          h6 Toyota
        +icon('left-arrow-chevron')
      li.auto-list__item.flex.a-i__c.j-c__s-b
        .flex.a-i__c
          +icon('hyundai','auto-icon')
          h6 Hyundai
        +icon('left-arrow-chevron')
      li.auto-list__item.flex.a-i__c.j-c__s-b
        .flex.a-i__c
          +icon('chevrolet','auto-icon')
          h6 Chevrolet
        +icon('left-arrow-chevron')
      li.auto-list__item.flex.a-i__c.j-c__s-b
        .flex.a-i__c
          +icon('kia','auto-icon')
          h6 KIA
        +icon('left-arrow-chevron')
      li.auto-list__item.flex.a-i__c.j-c__s-b
        .flex.a-i__c
          +icon('honda','auto-icon')
          h6 Honda
        +icon('left-arrow-chevron')
      li.auto-list__item.flex.a-i__c.j-c__s-b
        .flex.a-i__c
          +icon('mitsubishi','auto-icon')
          h6 Mitsubishi
        +icon('left-arrow-chevron')
      li.auto-list__item.flex.a-i__c.j-c__s-b
        .flex.a-i__c
          +icon('nissan','auto-icon')
          h6 Nissan
        +icon('left-arrow-chevron')
      li.auto-list__item.flex.a-i__c.j-c__s-b
        .flex.a-i__c
          +icon('renault','auto-icon')
          h6 Renault
        +icon('left-arrow-chevron')
      li.auto-list__item.flex.a-i__c.j-c__s-b
        .flex.a-i__c
          +icon('mazda','auto-icon')
          h6 Mazda
        +icon('left-arrow-chevron')
      li.auto-list__item.flex.a-i__c.j-c__s-b
        .flex.a-i__c
          +icon('suzuki','auto-icon')
          h6 Suzuki
        +icon('left-arrow-chevron')
      li.auto-list__item.flex.a-i__c.j-c__s-b
        .flex.a-i__c
          +icon('fiat','auto-icon')
          h6 Fiat
        +icon('left-arrow-chevron')
      li.auto-list__item.flex.a-i__c.j-c__s-b
        .flex.a-i__c
          +icon('volvo','auto-icon')
          h6 Volvo
        +icon('left-arrow-chevron')
      li.auto-list__item.flex.a-i__c.j-c__s-b
        .flex.a-i__c
          +icon('lexus','auto-icon')
          h6 Lexus
        +icon('left-arrow-chevron')
      li.auto-list__item.flex.a-i__c.j-c__s-b
        .flex.a-i__c
          +icon('jeep','auto-icon')
          h6 Jeep
        +icon('left-arrow-chevron')
      li.auto-list__item.flex.a-i__c.j-c__s-b
        .flex.a-i__c
          +icon('citroen','auto-icon')
          h6 Citroen
        +icon('left-arrow-chevron')
      li.auto-list__item.flex.a-i__c.j-c__s-b
        .flex.a-i__c
          +icon('peugeot','auto-icon')
          h6 Peugeot
        +icon('left-arrow-chevron')



.modal.modal--model-list.flex.a-i__f-e
  .modal-wrap.flex.f-d__c
    ul.auto-list
      
      
script(src='js/app.min.js')
