footer.footer.container.flex.j-c__s-b.pd-28
  button.footer__button.button--analytics 
    +icon('line-chart')
  button.footer__button.button--add 
    +icon('button-add')
  button.footer__button.button--search
    +icon('search')
script(src='js/app.min.js')
