
footer.footer.container.flex.j-c__s-b.pd-28
  button.footer__button.button--analytics 
    +icon('line-chart')
  button.footer__button.button--add.flex.j-c__c.a-i__c
    +icon('button-add')
  button.footer__button.button--list
    +icon('list')
script(src='js/app.min.js')
