include mixins.pug
header.header.container.pd-28
  .header__date.flex.j-c__s-b 
    p.year 2019
    p Выполнено: 
      span 78
  .header__calendar.flex.a-i__c
    +article-calendar
    +article-calendar(class='current')
    +article-calendar
      
