
header.header--main.container.pd-28
  .header--main__date.flex.j-c__s-b 
    p.year 2019
    p Выполнено: 
      span 78
  .header--main__calendar.flex.a-i__c
    +article-calendar
    +article-calendar(class='current')
    +article-calendar
    +article-calendar
    +article-calendar
    +article-calendar
    +article-calendar
    +article-calendar
    +article-calendar
    +article-calendar
    +article-calendar
      
