mixin icon(name,mod)
  - mod = mod || ''
  svg(class="icon icon-" + name + ' ' + mod)
      use(xlink:href="#icon-" + name)


mixin article-calendar
  .article-calendar&attributes(attributes)
    header.article-calendar__header.flex.j-c__s-b.a-i__c
      h3 10 Апреля
      p 7 задач
    footer.article-calendar__footer
      table
        thead 
          tr
            th П
            th В
            th С
            th Ч
            th П
            th С
            th В
        tbody
          tr
            td.past 27
            td.past 28
            td.past 29
            td.past 30
            td 1
            td 2
            td 3
          tr
            td 4
            td 5
            td 6
            td 7
            td 8
            td.active 
              span 9
            td 10
          tr
            td 11
            td 12
            td 14
            td 14
            td 15
            td 16
            td 17
          tr
            td 18
            td 19
            td 20
            td 21
            td 22
            td 23
            td 24
          tr
            td 
              a(href='/2007-07-18') 25
            td 
              a(href='/2007-07-18') 26
            td 27
            td 28
            td 29
            td 30
            td 31
      

mixin article-planned
  article.article-planned&attributes(attributes)
    a(href='order-page.html')
      header.article-planned__header.flex.j-c__s-b.a-i__c
        span.article-planned__time 12:00
        button.article-planned__check
      h3 89217452078 BMW 3800
      p Санкт–Петербург, Россия



mixin timetable 
  ul.timetable&attributes(attributes)
    li.timetable__item.flex.a-i__c
      p.timetable__time 10:00
      .timetable__tasks.flex
        a(href="#").button--task.button--orange.task--finished
          p BMW
          p 89217452078
          p тонировка: задние
          p 3800
    li.timetable__item.flex.a-i__c
      p.timetable__time 11:00
      .timetable__tasks.flex
        a(href="#").button--task.button--green.task--finished 
          p BMW
          p 89217452078
          p тонировка: задние
          p 3800
        a(href="#").button--task.button--green.task--finished 
          p BMW
          p 89217452078
          p тонировка: задние
          p 3800
    li.timetable__item.flex.a-i__c
      p.timetable__time 13:00
      .timetable__tasks.flex
      
    li.timetable__item.flex.a-i__c.active
      p.timetable__time 14:00
      .timetable__tasks.flex
        a(href="#").button--task.button--orange
          p BMW
          p 89217452078
          p тонировка: задние
          p 3800
    li.timetable__item.flex.a-i__c
      p.timetable__time 15:00
      .timetable__tasks.flex
        a(href="#").button--task.button--orange
          p BMW
          p 89217452078
          p тонировка: задние
          p 3800
        a(href="#").button--task.button--green 
          p BMW
          p 89217452078
          p тонировка: задние
          p 3800
    li.timetable__item.flex.a-i__c
      p.timetable__time 16:00
      .timetable__tasks.flex
        button.button--task.button--green  
        button.button--task.button--orange  
    li.timetable__item.flex.a-i__c
      p.timetable__time 17:00
      .timetable__tasks.flex
        button.button--task.button--orange  
    li.timetable__item.flex.a-i__c
      p.timetable__time 18:00
      .timetable__tasks.flex
        button.button--task.button--orange  
    li.timetable__item.flex.a-i__c
      p.timetable__time 19:00
      .timetable__tasks.flex
        button.button--task.button--green
    li.timetable__item.flex.a-i__c
      p.timetable__time 20:00
      .timetable__tasks.flex
        button.button--task.button--orange  
  
