doctype html
html(lang='ru')
  head
    include inc/head.pug
    title ToneLabWebApp
  body
    include inc/header-main.pug
    main.main.container
      //section.section.section--nothing-found.flex.f-d__c.j-c__c.a-i__c
        +icon('embarrassed')
        p Заказов нет...
      section.section.section--planned
        h2.pd-28  Запланированно
        .section--planned__articles
          .section--planned__wrap.flex
            +article-planned
            +article-planned(class='current')
            +article-planned
            +article-planned
            +article-planned
            +article-planned
            +article-planned
      section.section.section--timetable.pd-28(view='max-info')
        .section__heading.flex.a-i__c.j-c__s-b
          h2 Задачи на сегодня 
          +icon('eye')
        .section--timetable__days.flex.j-c__s-b
          a(href='/2007-07-18').button--day.flex.f-d__c.j-c__c.a-i__c 
            span.dayWeek.flex.j-c__c.a-i__c Пн
            span.dayNum 22
          a(href='/2007-07-18').button--day.flex.f-d__c.j-c__c.a-i__c 
            span.dayWeek.flex.j-c__c.a-i__c Вт
            span.dayNum 23
          a(href='/2007-07-18').button--day.flex.f-d__c.j-c__c.a-i__c
            span.dayWeek.flex.j-c__c.a-i__c Ср
            span.dayNum 24
          a(href='/2007-07-18').button--day.flex.f-d__c.j-c__c.a-i__c.current.active 
            span.dayWeek.flex.j-c__c.a-i__c Чт
            span.dayNum 25
          a(href='/2007-07-18').button--day.flex.f-d__c.j-c__c.a-i__c 
            span.dayWeek.flex.j-c__c.a-i__c Пт
            span.dayNum 26
          a(href='/2007-07-18').button--day.flex.f-d__c.j-c__c.a-i__c 
            span.dayWeek.flex.j-c__c.a-i__c Сб
            span.dayNum 27
          a(href='/2007-07-18').button--day.flex.f-d__c.j-c__c.a-i__c 
            span.dayWeek.flex.j-c__c.a-i__c Вс
            span.dayNum 28
        .timetable__lists
          .timetable__wrap.flex
            +timetable 
            +timetable 
            +timetable 
            +timetable(class='current') 
            +timetable 
            +timetable 
            +timetable 

    
    include inc/footer.pug
            
