doctype html
html(lang='ru')
  head
    include inc/head.pug
    title ToneLabWebApp
  body
    include inc/header-form.pug
    main.main.container
      form(name='addFormOrder').form.form--add-order.send-form.pd-28.flex.f-d__c
        label
          input(type='text' placeholder='Имя' name='name' ).form__input
        label
          input(type='tel' placeholder='Номер' name='telephone' required).form__input
        label
          input(type='text' placeholder='Автомобиль' name='car' required).form__input
        .modal.modal--auto-list.flex.f-d__c.j-c__f-e.a-i__c
          button.button--close-modal
          ul.auto-list
            li.auto-list__item.flex.a-i__c.j-c__s-b
              .flex.a-i__c
                +icon('audi','auto-icon')
                h6 Audi
              +icon('left-arrow-chevron')
            li.auto-list__item.flex.a-i__c.j-c__s-b
              .flex.a-i__c
                +icon('bmw','auto-icon')
                h6 BMW
              +icon('left-arrow-chevron')
            li.auto-list__item.flex.a-i__c.j-c__s-b
              .flex.a-i__c
                +icon('volkswagen','auto-icon')
                h6 Volkswagen
              +icon('left-arrow-chevron')
            li.auto-list__item.flex.a-i__c.j-c__s-b
              .flex.a-i__c
                +icon('ford','auto-icon')
                h6 Ford
              +icon('left-arrow-chevron')
            li.auto-list__item.flex.a-i__c.j-c__s-b
              .flex.a-i__c
                +icon('toyota','auto-icon')
                h6 Toyota
              +icon('left-arrow-chevron')
            li.auto-list__item.flex.a-i__c.j-c__s-b
              .flex.a-i__c
                +icon('hyundai','auto-icon')
                h6 Hyundai
              +icon('left-arrow-chevron')
            li.auto-list__item.flex.a-i__c.j-c__s-b
              .flex.a-i__c
                +icon('chevrolet','auto-icon')
                h6 Chevrolet
              +icon('left-arrow-chevron')
            li.auto-list__item.flex.a-i__c.j-c__s-b
              .flex.a-i__c
                +icon('kia','auto-icon')
                h6 KIA
              +icon('left-arrow-chevron')
            li.auto-list__item.flex.a-i__c.j-c__s-b
              .flex.a-i__c
                +icon('honda','auto-icon')
                h6 Honda
              +icon('left-arrow-chevron')
            li.auto-list__item.flex.a-i__c.j-c__s-b
              .flex.a-i__c
                +icon('mitsubishi','auto-icon')
                h6 Mitsubishi
              +icon('left-arrow-chevron')
              
          
        label
          input(type='text' placeholder='Услуга' name='service' required).form__input
        label
          input(type='text' placeholder='Cтоимость' name='price' required).form__input
        label
          input(type='date' placeholder='Дата' name='date').form__input
        label
          input(type='time' placeholder='Время' name='time').form__input
        label
          select(  name='adress' ).form__input
            option(value="" ) Адрес 
            option(value="ул. Маршала Говорова 37В") ул. Маршала Говорова 37В
            option(value="Брестский бульвар 9А") Брестский бульвар 9А
          
        
        

    
    include inc/footer.pug
            
