doctype html
html(lang='ru')
  head
    include inc/head.pug
    title ToneLabWebApp
  body
    include inc/header-form.pug
    main.main.container
      form(name='addFormOrder').form.form--add-order.send-form.pd-28.flex.f-d__c
        label
          input(type='text' placeholder='Имя' name='name').form__input
        label
          input(type='tel' placeholder='Номер' name='telephone').form__input
        label
          input(type='text' placeholder='Автомобиль' name='car').form__input
        label
          input(type='text' placeholder='Услуга' name='service').form__input
        label
          input(type='text' placeholder='Cтоимость' name='price').form__input
        label
          input(type='text' placeholder='Время' name='time').form__input
        

    
    include inc/footer.pug
            
