doctype html
html(lang='ru')
  head
    include inc/head.pug
    title ToneLabWebApp
  body
    include inc/header-form.pug
    main.main.container
      form(name='addFormOrder').form.form--add-order.send-form.pd-28.flex.f-d__c
        label
          input(type='text' placeholder='Имя' name='name' ).form__input
        label
          input(type='tel' placeholder='Номер' name='telephone' required).form__input
        label.flex.a-i__c
          input(type='text' placeholder='Автомобиль' name='car' required).form__input 
          button.button--select-car
            +icon('filter-results-button') 
        label
          input(type='text' placeholder='Услуга' name='service' required).form__input
        label
          input(type='text' placeholder='Cтоимость' name='price' required).form__input
        label
          input(type='date' placeholder='Дата' name='date').form__input
        label
          input(type='time' placeholder='Время' name='time').form__input
        label
          select(  name='adress' ).form__input
            option(value="" ) Адрес 
            option(value="ул. Маршала Говорова 37В") ул. Маршала Говорова 37В
            option(value="Брестский бульвар 9А") Брестский бульвар 9А
          
        
        

    
    include inc/footer.pug
            
