@import 'inc/fonts.styl'

@import 'plugins/wrd-reset.styl'
@import 'plugins/wrd-ui.styl'
@import 'plugins/wrd-atomic.styl'

body
  &[calendar='open']
    .header--main
      padding-bottom 75px
      &__date
        opacity 1
        transform scale(1)
      &__calendar
        transform translateX(-317px)
    .main
      margin-top -35px
    .section--planned
      &__articles
        margin-top 0
      h2
        display none
.container
  max-width 375px
  left 0
  right 0
  margin auto
.pd-28
  padding-left 28px
  padding-right 28px

.main
  overflow hidden
  margin-top 17px
  padding-bottom 90px
  transition .33s
.section
  h2
    color #4e5067
    font-size 18px
    font-weight 600
@import 'inc/header--main.styl'
@import 'inc/header--form.styl'
@import 'inc/footer.styl'



@import 'section/section--planned.styl'
@import 'section/section--timetable.styl'
@import 'section/form--add-order.styl'



@import 'adaptive/adaptive.styl'
