@import 'inc/fonts.styl'

@import 'plugins/wrd-reset.styl'
@import 'plugins/wrd-ui.styl'
@import 'plugins/wrd-atomic.styl'

body
  background #f9f9f9

.container
  max-width 375px
  left 0
  right 0
  margin auto
.pd-28
  padding-left 28px
  padding-right 28px

.main
  padding-top 17px
  overflow hidden
  background #fff
.section
  h2
    color #4e5067
    font-size 18px
    font-weight 600
@import 'inc/header.styl'
@import 'inc/footer.styl'



@import 'section/section--planned.styl'
@import 'section/section--timetable.styl'



@import 'adaptive/adaptive.styl'
